[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
cffi = "*"
python-multipart = "*"
setuptools = "*"
setuptools-scm = "*"

[dev-packages]
pytest = "*"
pyright = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.9"
